*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: opacity(0.2);
    backdrop-filter: blur(9px);
    flex-wrap:wrap ;
}
body{
    background: linear-gradient(rgb(22, 22, 22), rgb(36, 34, 34));
}
.English , .Search{
color: rgb(0, 95, 196);
text-decoration: none;
font-family:monospace;
}
.English{
    margin-left: 3.2%;
    margin-top: 20.5px;
    font-size: 18px;
}
.Search{
    margin-left: 1.2%;
    margin-top:20px ;
    font-size: 24px;
}
.Games, .Apps, .MoviesAndSeries, .Developers {
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: flex;
    margin-top: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Games, .Apps, .MoviesAndSeries{
    margin-left: 2.9%;
}
.Developers{
    margin-left: 30px;
}
.main-box{
    position: relative;
    display: flex;
    height: 100vh; ;
    width: 500px ;
    /* background: linear-gradient(deeppink, orangered); */
    border-radius: 40px;
    margin-left: 2%;
}
.main-box div{
    position: absolute ;
    width: 25% ;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}
.waterfall-line-1{
    /* background-color: aqua; */ 
}
.waterfall-line-2{
    /* background-color: rgb(255, 0, 72); */
    margin-left: 25%;
}
.waterfall-line-3{
    /* background-color: rgb(208, 0, 255); */
    margin-left: 50%;
}
.waterfall-line-4{
    /* background-color: rgb(38, 255, 0); */
    margin-left: 75%;
}
div img {
    display: flex;
    flex-wrap: wrap;
}
.waterfall-img-1 {
    animation: move-image-1 12s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-2 {
    animation: move-image-2 9s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-3 {
    animation: move-image-3 13s infinite linear reverse, fade-img 4s linear;
}
.waterfall-img-4 {
    animation: move-image-4 10s infinite linear reverse, fade-img 4s linear;
}
@keyframes fade-img {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    }
}
@keyframes move-image-1 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(0%); 
    }
}
@keyframes move-image-2 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(0%); 
    }
}
@keyframes move-image-3 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(0%); 
    }
}
@keyframes move-image-4 {
    0% { 
        transform: translateY(-400%); 
    } 
    100% { 
        transform: translateY(0%); 
    }
}
.English:hover, .Search:hover, .Developers:hover, .MoviesAndSeries:hover, .Apps:hover, .Games:hover {
    color: rgb(255, 0, 0);
}
